<div class="nav-links">
  <nav class="navbar">
    <ul>
      <!-- <li>
        <a routerLink="/starwars/dashboard">HOME</a>
      </li> -->
      <li>
        <a (click)="navigate('films', 'list')">Films</a>
      </li>
      <li>
        <a (click)="navigate('people', 'list')">People</a>
      </li>
      <li>
        <a (click)="navigate('planets', '')">Planets</a>
      </li>
      <li>
        <a (click)="navigate('species', '')">Species</a>
      </li>
      <li>
        <a (click)="navigate('starships', '')">Starships</a>
      </li>
      <li>
        <a (click)="navigate('vehicles', '')">Vehicles</a>
      </li>
    </ul>
  </nav>
</div>
